.side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #eee;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

.DoIt {
  padding-left: 40px;
}

.content {
  position: relative;
  left: 200px;
  width: fit-content;
}

.new-task {
  display: none;
}

.new-task.active {
  display: block;
}

.project-info {
  display: none;
}

.project-info.active {
  display: block;
  
}
.new-proj-task {
  display: none;
}

.new-proj-task.active {
  display: block;
  position: relative;
  left: 200px;
  width: fit-content;
}

.task-info {
  display: none;
}

.myTask {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#listDiv {
  display: none;
}

#listDiv.active {
  display: block;
}

/* #listDiv {
  position: relative;
  left: 200px;
  width: fit-content; 
} */

.myInbox, #myProjForm {
  display: none;
}

.myInbox.active, #myProjForm.active {
  display: block;
  /* position: relative;
  left: 200px;
  width: fit-content; */
}
.proj-list {
  display: grid;
  grid-template-columns: 1fr;
}
.proj-list > button {
  display: flex;
  justify-content: space-between;
}

.addProjTaskBtn.inactive {
  display: none
}

#project-form {
  position: relative;
  left: 200px;
  width: fit-content;
}

#myForm {
  position: relative;
  left: 200px;
  width: fit-content;
}